.github/**
.vscode/**
resources/**
codeapp-cli/**
*.vsix
**/*.map
.gitignore
package-lock.json
packages/**
**/.DS_Store
**/.github/**
**/.vscode/**
**/.nyc_output/**
**/coverage/**
**/test/**
**/tests/**
**/__tests__/**
**/example/**
**/examples/**
**/docs/**
**/*.ts
**/*.tsx
**/*.cts
**/*.mts
**/*.mk
**/*.log
**/*.tgz
**/tsconfig*.json
**/.eslint*
**/.prettier*
**/.travis.yml
**/appveyor.yml
**/codecov.yml
**/binding.gyp
**/Makefile
**/node_modules/**/benchmark/**
**/node_modules/**/benchmarks/**
**/node_modules/**/vendor/**
**/node_modules/**/man/**
**/node_modules/**/readme*
**/node_modules/**/README*
**/node_modules/**/CHANGELOG*
**/node_modules/**/changelog*
**/node_modules/**/AUTHORS*
**/node_modules/**/CONTRIBUTING*
**/node_modules/**/.editorconfig
**/node_modules/**/.npmignore
**/node_modules/**/.gitattributes
**/node_modules/**/.gitignore
**/node_modules/**/*.d.ts
**/node_modules/**/*.cc
**/node_modules/**/*.cpp
**/node_modules/**/*.c
**/node_modules/**/*.h
**/node_modules/**/binding.Makefile
**/node_modules/@github/**
!node_modules/codeapp-js/AI/**
